<section>
    <div ng-repeat="venue in venues">
    {{venue}}
    </div>
    <div class="page-header">
        <h1>Setlists</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="setlist in setlists | orderBy:'date'" data-ng-href="#!/setlists/{{setlist._id}}" class="list-group-item">
			<h4 class="list-group-item-heading">
                <span>{{setlist.date | date:'MM-dd-yyyy'}} - {{setlist.venue.name}}</span>         
            </h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!setlists.$resolved || setlists.length">
    	No Setlists yet, why don't you <a href="/#!/setlists/create">create one</a>?
    </div>
</section>