<section>
    <div ng-repeat="venue in venues">
    {{venue}}
    </div>
    <div class="page-header">
        <h1>Setlists</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="setlist in setlists" data-ng-href="#!/setlists/{{setlist._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="setlist.created | date:'medium'"></span>
				by
				<span data-ng-bind="setlist.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="setlist.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!setlists.$resolved || setlists.length">
    	No Setlists yet, why don't you <a href="/#!/setlists/create">create one</a>?
    </div>
</section>